body {
 color: #d4d4d4;
}

header {
    background-color: #222222;
    color: #d4d4d4;
}

a {
    color: #d4d4d4;
text-decoration: none;
}

h1 {
color: white;
    font-size: 60px;
}

.nav {
    display: flex;
  justify-content: center;
}

.black {
color: black;
}

button {
    background-color: #ffcb06;
    border-radius: 20px;
    width: 240px;
    height: 50px;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav1 {
      display: flex;
      justify-content: flex-start;
}

nav2 {
    display: flex;
      justify-content: flex-end;
    
}

h3 {
    color: black;
}

strong {
    color: #131313;
}

main {
   background-color: white;
    color: #6a6a6a;
}

footer {
    background-color: #131313;
    color: #555555;
}

b {
 color: #5f5f5f;
}

.main {
 text-align: center;
 background-color: #131313;  
 column-count: 4;
 column-gap: normal; 
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.rec {
    color: #ffcb06;

}

.h1 {
 margin-left: 90px; 
}

.p {
 margin-left: 90px
}

.logo2 {
     display: flex;
      justify-content: flex-start;
}

.compani {
    border-spacing: 150px;
}

#moon {
    width: 300px;
}

.moon { 
 margin-right: 10%;
}

.roket {
 margin-left: 16%;
}

.milk {

}

.man {

}

.mini {
 margin-right: 16%;
}

p1 {
 margin-left: 16%;
}

p2 {

}

p3 {

}

p4 {
 margin-right: 16%;
}
